.drug-detail {
  max-width: 1060px;
  margin: auto;
  margin-top: 70px;
  padding: 0 60px;
}
/* ---------    H E A D E R   ---------- */
.detail-header {
  display: flex;
  margin-bottom: 50px;
}

.image-main {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  margin-right: 50px;
  object-fit: contain;
}

.header-container {
  position: relative;
}

.header-container h2 {
  font-family: var(--primary-font);
  font-size: 95px;

  margin-left: -0.06em;
}

.header-container .street-names {
  display: block;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  max-width: 500px;
}

.header-container .description {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}

.header-container .meta {
  font-family: var(--primary-font);
  position: absolute;
  top: 0;
  right: 0;
}

.header-container .schedule,
.header-container .category {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

.header-container .schedule {
  padding-bottom: 10px;
  display: block;
  position: relative;
}

.header-container .schedule:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 55%;
  right: 0;
  height: 4px;
  background: var(--blue);
}

.header-container .category {
  padding-top: 3px;
  display: block;
}

.description-content {
  display: inline;
}
.description-link {
  color: var(--blue);
}

/* ---------  E F F E C T S  --------*/
.section-effects {
  display: flex;
  justify-content: space-between;
}

.effects-description {
  font-weight: 300;
  font-size: 18px;
  max-width: 500px;
}
.section-heading {
  position: relative;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: 800;
  margin-bottom: 20px;
}
.section-heading:before {
  position: absolute;
  right: calc(100% + 10px);
  background-image: url(../images/charm.svg);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  content: "";
  bottom: 1px;
}
/* ---------   E F F E C T S'   C O M P A R I S O N   -------*/
.section-effects-comparison {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
.section-effects-comparison h4 {
  margin-bottom: 25px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
}
.effects-list {
  list-style-type: none;
}

.effects-list li {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  background: var(--purpleish);
  padding: 22px;
}
.effects-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2px;
  background: var(--purple);
  height: 60%;
  width: 4px;
}
#side-effects li {
  background: var(--redish);
}
#side-effects li:before {
  background: var(--red);
}

/* ------------    D O S A G E    S E C T I O N   ------------*/
.dosage {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
.dosage-columns {
  margin-bottom: 25px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 700px;
}
.range {
  position: absolute;
  width: 100%;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    lightblue,
    limegreen,
    orange,
    var(--red)
  );
}

/* ---------   S A F E T Y - T  I P S  +  R I S K S   S E C T I O N    -----------*/

.section-heading.safety-icon:before {
  background-image: url(../images/safety.svg);
}

.section-safes-and-risks {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
.safety-list {
  margin-top: 20px;
  list-style-type: none;
}
.safety-list li {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  position: relative;
  padding: 22px 0;
  border-top: 1px solid lightslategray;
}
.section-heading.risks-icon:before {
  background-image: url(../images/risks.svg);
}
.risks-list {
  margin-top: 20px;
  list-style-type: none;
}
.risks-list li {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  position: relative;
  padding: 22px 0;
  border-top: 1px solid lightslategray;
}

.risks-list li:first-child,
.safety-list li:first-child {
  border-top: none;
}

.video-container {
  margin-top: 40px;
}
