/* ---------   C O N C T A C T   S E C T I O N ----------*/

.help-section {
  max-width: 1000px;
  margin: auto;
}

.section-heading {
  position: relative;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: 800;
  margin-bottom: 5px;
}
.section-heading:before {
  position: absolute;
  background-image: url(../images/charm.svg);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  content: "";
  bottom: 1px;
}
.contact-description {
  font-size: 18px;
  line-height: 1.2em;
  display: block;
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: 300;
  max-width: 1000px;
}
form {
  margin-top: 40px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.name-and-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
input[type="text"],
textarea {
  background: transparent;
  width: 100%;
  padding: 12px;
  border: 1px solid #2699fb;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  width: 150px;
  background-color: #2196f3;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: transparent;
  border: 1px solid #2699fb;
}
.hotline {
  margin-top: 40px;
}
.hotline-text {
  font-family: var(--secondary-font);
  font-weight: 300;
}
