/* -------------     C H A T   "B U B B L E"     --------*/
.chat-bubble {
  overflow: visible;
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.bubble-image {
  width: 70px;
  cursor: pointer;
}

.chat-bubble.active .chat-container {
  display: block;
}

.chat-container {
  cursor: pointer;
  display: none;
  background: var(--darkblue);
  border-radius: 7px;
  border: 1px solid #2196f3;
  width: 300px;
  position: absolute;
  bottom: 100%;
  right: 100%;
  padding: 35px;
  text-align: start;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
}

.chat-container h3 {
  margin-bottom: 10px;
}

.messenger {
  max-width: 95%;
  margin-top: 30px;
}

.bubble-image-filled {
  display: none;
  cursor: pointer;
}
.hero .bg-mobile {
  display: none;
}

@media only screen and (max-width: 1030px) {
  .hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    position: relative;
  }
  .hero img {
    display: none;
  }
  .hero .bg-mobile {
    display: block;
    position: absolute;
    width: 80;
    width: 80%;
    height: 71%;
    top: 50px;
  }
}
@media only screen and (max-width: 950px) {
  .filters {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .bubble-image {
    display: none;
  }
  .bubble-image-filled {
    display: block;
  }
  .chat-bubble {
    bottom: 50px;
    right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    position: relative;
  }
}

@media only screen and (max-width: 510px) {
  .hero {
    height: 335px;
    padding-top: 80px;
  }
  .hero h1 {
    font-size: 50px;
  }
}

/* ---------   C O N T A C T   S E C T I O N ----------*/
.help-section {
  max-width: 1060px;
  margin: auto;
  padding: 0 60px;
}

.section-heading {
  position: relative;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: 800;
  margin-bottom: 5px;
}
.section-heading:before {
  position: absolute;
  background-image: url(../images/charm.svg);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  content: "";
  bottom: 1px;
}
.contact-description {
  font-size: 18px;
  line-height: 1.2em;
  display: block;
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: 300;
  max-width: 1000px;
}
form {
  margin-top: 40px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.name-and-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

@media only screen and (max-width: 600px) {
  .name-and-email {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

input[type="text"],
textarea {
  background: transparent;
  width: 100%;
  padding: 12px;
  border: 1px solid #2699fb;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  width: 150px;
  background-color: #2196f3;
  color: white;
  padding: 12px 20px;
  border: 1px solid #2699fb;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: transparent;
  border: 1px solid #2699fb;
}
.hotline {
  margin-top: 40px;
  margin-bottom: 60px;
}
.hotline-text {
  font-family: var(--secondary-font);
  font-weight: 300;
}
