@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hyper-link {
  display: inline-block;
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --darkblue: #011627;
  --white: #f7f7ff;
  --pink: #ff006e;
  --green: #89fc00;
  --purple: #a243ff;
  --blue: #00bbf9;
  --red: #ff1c1c;
  --pinkish: #ff006e17;
  --greenish: #89fc0017;
  --purpleish: #a243ff17;
  --blueish: #00bbf917;
  --redish: #ff1c1c17;
  --pinkish-filter: #ff006e30;
  --greenish-filter: #89fc0030;
  --purpleish-filter: #a243ff30;
  --blueish-filter: #00bbf930;
  --redish-filter: #ff1c1c30;

  --primary-font: "Maven Pro", sans-serif;
  --secondary-font: "Roboto Slab", sans-serif;
  --header-height: 120px;
}

@media only screen and (max-width: 900px) {
  :root {
    --header-height: 80px;
  }
}

body {
  font-family: var(--secondary-font);
  background: var(--darkblue);
  color: var(--white);
  padding-bottom: 500px;
}

a {
  color: white;
  text-decoration: none;
}

/* ----------  H E A D E R  ------------*/
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: var(--header-height);
}
.home-header .logo {
  width: 130px;
}
.burger-menu {
  cursor: pointer;
  display: none;
}
.navigation {
  display: flex;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navigation ul li {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
}

.navigation ul li.disabled,
.mobile-navigation ul li.disabled {
  color: grey;
  pointer-events: none;
}

.navigation li {
  margin-right: 30px;
}

.mobile-navigation {
  display: none;
  background: var(--darkblue);
  color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--primary-font);
}

.mobile-navigation.active {
  display: flex;
}

.mobile-navigation ul {
  list-style-type: none;
}

.mobile-navigation li {
  line-height: 2em;
  font-size: 30px;
  font-weight: 500;
}

.mobile-navigation #close {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 20px;
  color: white;
  font-size: 35px;
  background: transparent;
  border: none;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

/*------------  H E R O  ----------------*/
.hero {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  position: relative;
}
.hero h1 {
  font-size: 70px;
  line-height: 0.9em;
  text-align: center;
  display: block;
  color: var(--white);
  font-family: var(--primary-font);
  max-width: 6em;
  margin-bottom: 10px;
  z-index: 10;
}
.hero h3 {
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  display: block;
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: 300;
  max-width: 200px;
  z-index: 10;
}

.hero img {
  position: absolute;
  width: 15vw;
  height: 15vw;
  object-fit: contain;
}

@media only screen and (max-width: 500px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero h3 {
    font-size: 18px;
  }
  .hero {
    height: 300px;
    justify-content: center;
    padding-top: 0;
  }
  .hero img {
    display: none;
  }
  .home-header .logo {
    width: 100px;
  }
}

/*----------  C A T E G O R I E S  ------------*/
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
  padding-top: 40px;
}

.categories-heading {
  text-align: center;
  font-size: 60px;
  font-family: var(--primary-font);
}

.category {
  display: flex;
}
.category h2 {
  text-align: end;
  overflow-wrap: break-word;
  display: block;
  font-family: var(--primary-font);
  font-size: 75px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 900;
  line-height: 0.8em;
  margin-right: 30px;
}

.category.opioids h2 {
  color: var(--purple);
  max-width: 128px;
}

.category.psychedelics h2 {
  color: var(--pink);
  max-width: 160px;
}

.category.stimulants h2 {
  color: var(--blue);
  max-width: 160px;
}
.category.cannabis h2 {
  color: var(--green);
  max-width: 129px;
}

@media only screen and (max-width: 900px) {
  .home-header {
    padding: 0 20px;
  }
  .navigation {
    display: none;
  }
  .burger-menu {
    display: block;
    width: 40px;
  }
  .categories {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }
  .category {
    display: block;
  }
  .category h2 {
    text-align: initial;
    overflow-wrap: initial;
    font-size: 40px;
    margin-bottom: 15px;
  }
  .categories-heading {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .category h2 {
    font-size: 30px;
  }
}

/*-----------  C A T E G O R Y-C O N T E N T  -------*/
.category-content p {
  margin-top: 10px;
  display: block;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 300;
  max-width: 600px;
}
.drug-tiles {
  margin-top: 15px;
  max-width: 200px;
  display: flex;
}

.hidden {
  display: none !important;
}

.tile {
  position: relative;
  width: 120px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  padding: 20px 20px 15px 20px;
  background: var(--blueish);
  transition: all 0.3s;
}

.stimulants .tile:hover {
  background: var(--blueish-filter);
}
.psychedelics .tile:hover {
  background: var(--pinkish-filter);
}
.cannabis .tile:hover {
  background: var(--greenish-filter);
}
.opioids .tile:hover {
  background: var(--purpleish-filter);
}

.stimulants .tile {
  background: var(--blueish);
}
.psychedelics .tile {
  background: var(--pinkish);
}
.cannabis .tile {
  background: var(--greenish);
}
.opioids .tile {
  background: var(--purpleish);
}

.stimulants.tile {
  background: var(--blueish);
}
.psychedelics.tile {
  background: var(--pinkish);
}
.cannabis.tile {
  background: var(--greenish);
}
.opioids.tile {
  background: var(--purpleish);
}

.tile img {
  height: 65px;
  max-width: 100%;
  object-fit: contain;
}
.tile p {
  margin-bottom: 10px;
  font-weight: 300;
}
.tile h4 {
  font-size: 15px;
  font-weight: 300;
}

.tile:after {
  content: "";
  width: 75%;
  bottom: -2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background: var(--blue);
}

.stimulants .tile:after {
  background: var(--blue);
}
.psychedelics .tile:after {
  background: var(--pink);
}
.cannabis .tile:after {
  background: var(--green);
}
.opioids .tile:after {
  background: var(--purple);
}

.stimulants.tile:after {
  background: var(--blue);
}
.psychedelics.tile:after {
  background: var(--pink);
}
.cannabis.tile:after {
  background: var(--green);
}
.opioids.tile:after {
  background: var(--purple);
}

.cocaine {
  top: 29vh;
  right: 10vw;
}
.fentanyl {
  top: 5vh;
  right: 15vw;
}
.lsd {
  top: -2vh;
  right: 32vw;
  height: 19vh !important;
}

.mdma {
  top: 7vh;
  left: 15vw;
}
.xanax {
  bottom: 17vh;
  left: 15vw;
}
.psilocybin {
  bottom: 12vh;
  height: 14vh !important;
}
.thc-down {
  top: -10vh;
  left: 35vw;
}
.thc-up {
  bottom: 8vh;
  right: 20vw;
}

.age-gate {
  position: fixed;
  z-index: 1000;
  background-image: url(../images/gate.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  font-family: "Maven Pro", sans-serif;
  transition: all 0.7s ease-in;
}

@media only screen and (max-width: 1200px) {
  .age-gate {
    display: none;
  }
}

.buttons {
  position: absolute;
  padding: 4.5vh 0;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.primary {
  font-size: 14px;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-family: Maven Pro, sans-serif;
  background: #ff006e;
  padding: 10px 40px;
  color: white;
  border: 2px solid #ff006e;
  cursor: pointer;
}
.secondary {
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  border: 2px solid #ff006e;
  padding: 10px 40px;
  color: #ff006e;
}

.rollUp {
  transform: translateY(-100vh);
}
