@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hyper-link {
  display: inline-block;
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --darkblue: #011627;
  --white: #f7f7ff;
  --pink: #ff006e;
  --green: #89fc00;
  --purple: #a243ff;
  --primary-font: "Maven Pro", sans-serif;
  --secondary-font: "Roboto Slab", sans-serif;
}

body {
  font-family: var(--secondary-font);
  background: var(--darkblue);
  padding: 50px;
  color: var(--white);
}

h1 {
  font-size: 50px;
  text-align: center;
  display: block;
  color: var(--white);
  font-family: var(--primary-font);
  margin-bottom: 50px;
}

.drug-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 40px;
}

.drug-tile img {
  height: 150px;
  margin-bottom: 20px;
}
